<!DOCTYPE html>
<html data-ng-app="twitch" data-ng-controller="OptionsController">
<head>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="css/options.css" />
	<title data-ng-bind="'Options | ' + manifest.name"></title>
</head>
<body>
	<main data-ng-init="options()" class="container">
		<nav class="row">
			<h4 data-ng-click="close()" role="button" class="glyphicon glyphicon-remove pull-right"></h4>
			<h1 data-ng-bind="'Options | ' + manifest.name"></h1>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#general">General</a></li>
				<li><a data-toggle="tab" href="#tweaking">Tweaking</a></li>
			</ul>
		</nav>
		<div class="row tab-content">
			<section id="general" class="tab-pane fade in active col-md-12">
				<h2>General<small> - General Twitch options</small></h2>
				<p>Type your Twitch username in the input field below in order to fetch a list of streamers you're currently following (while the list itself will be shown through the extension by clicking the icon in the right hand corner of your browser).</p>
				<div class="form-group">
					<input data-ng-style="background" data-ng-model="username" autofocus data-ng-change="onChange()" data-ng-model-options="{debounce: 500}" type="text" placeholder="Twitch username (default: twitch)" class="form-control input-lg">
				</div>
			</section>
			<section id="tweaking" class="tab-pane fade col-md-12">
				<h2>Tweaking<small> - Tweak the values to your own likings (or don't)</small></h2>
				<div class="row">
					<div class="form-group col-md-6">
						<small>Set the refresh rate of the counter in the right hand corner of the browser (in minutes). The changes won't apply untill you <code data-toggle="tooltip" data-placement="top" title="Type this into the address bar to restart your browser (don't worry, the same tabs/windows will reopen)">chrome://restart/</code>. Anything less than 1 minute is unstable.</small>
						<div class="input-group">
							<input data-ng-model="counter" data-ng-change="onChange()" data-ng-model-options="{debounce: 500}" type="number" placeholder="Refresh counter duration (in minutes)" class="form-control">
							<span class="input-group-addon">minute(s)</span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<small>Set the max limit of users fetched using the <a href="https://github.com/justintv/Twitch-API" data-toggle="tooltip" data-placement="top" title="GitHub Twitch API" target="_blank">Twitch API</a>. Please be cautious and don't call unnecessarily to the API - we don't want complaints from Twitch, thanks.</small>
						<div class="input-group">
							<input data-ng-model="limit" data-ng-change="onChange()" data-ng-model-options="{debounce: 500}" type="number" max="10000" placeholder="Max limit of users" class="form-control">
							<span class="input-group-addon">user(s) fetched</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<small>Set the duration of the animation when loading the list of streamers (in seconds). Disable the animation completely by specifying 0 seconds.</small>
						<div class="input-group">
							<input data-ng-model="animation" data-ng-change="onChange()" data-ng-model-options="{debounce: 500}" type="number" placeholder="Animation" class="form-control">
							<span class="input-group-addon">second(s)</span>
						</div>
					</div>
				</div>
			</section>
			<h3 class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></h3>
		</div>
		<footer class="row">
			<hr/>
			<p data-ng-bind="'Version ' + manifest.version" class="text-muted text-right"></p>
		</footer>
	</main>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/options.js"></script>
</body>
</html>