<!DOCTYPE html>
<html data-ng-app="twitch" data-ng-controller="TwitchController">
<head>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<title data-ng-bind="manifest.name"></title>
</head>
<body>
	<main data-ng-init="getStreamers()" class="container">
		<section class="row form-group col-md-12">
			<h3 data-ng-bind="manifest.name"></h3>
			<input data-ng-style="background" data-ng-model="username" data-ng-change="onChange()" data-ng-model-options="{debounce: 750}" type="text" autofocus placeholder="Twitch username (default: twitch)" class="form-control">
		</section>
		<hr class="row" />
		<section class="row col-md-12">
			<h4 data-ng-bind="'Online (' + (onlineStreamers.length ? onlineStreamers.length : 0) + ')'"></h4>
			<div class="animate-repeat" data-ng-style="animation" data-ng-repeat="streamer in onlineStreamers">
				<p>
					<img data-ng-src="{{streamer.channel.logo ? streamer.channel.logo : 'https://static-cdn.jtvnw.net/jtv_user_pictures/xarth/404_user_150x150.png'}}" alt="{{streamer.channel.display_name}}" class="img-rounded"/>
					<a data-ng-href="{{streamer.channel.url}}" title="{{streamer.channel.game + ' | ' + streamer.channel.status}}" data-toggle="tooltip" data-placement="right" target="_blank">
						<span data-ng-bind="streamer.channel.display_name" class="text-success"></span>
					</a>
				</p>
			</div>
		</section>
		<hr class="row" />
		<section class="row col-md-12">
			<h4 data-ng-bind="'Offline (' + (offlineStreamers.length ? offlineStreamers.length : 0) + ')'"></h4>
			<div class="animate-repeat" data-ng-style="animation" data-ng-repeat="streamer in offlineStreamers">
				<p>
					<img data-ng-src="{{streamer.channel.logo ? streamer.channel.logo : 'https://static-cdn.jtvnw.net/jtv_user_pictures/xarth/404_user_150x150.png'}}" alt="{{streamer.channel.display_name}}" class="img-rounded"/>
					<a data-ng-href="{{streamer.channel.url}}" target="_blank">
						<span data-ng-bind="streamer.channel.display_name" class="text-danger"></span>
					</a>
				</p>
			</div>
		</section>
		<hr class="row" />
		<div class="row col-md-12">
			<button data-ng-click="options()" class="btn btn-info btn-sm btn-block">Go to options</button>
		</div>
		<hr class="row" />
	</main>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/popup.js"></script>
</body>
</html>