<!DOCTYPE html>
<html ng-app="app">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/stylesheet.css" />
    <title>Twitch following | Who is streaming?</title>
</head>
<body>
    <div ng-controller="ctrl" ng-init="getTwitch()" class="container">
        <h3>Twitch following | Who is streaming?</h3>
        <div class="row">
            <div class="form-group col-xs-12">
                <input ng-model="username" type="text" autofocus placeholder="Twitch username (default: twitch)" class="form-control">
            </div>
        </div>
        <div class="clearfix">
            <button ng-click="getTwitch()" type="submit" class="col-xs-12 btn btn-primary pull-right">Show streamers</button>
        </div>
        <hr />
        <h4>Online ({{onlineStreamers.length ? onlineStreamers.length : 0}})</h4>
        <div ng-repeat="streamer in onlineStreamers">
            <a ng-href="{{streamer.channel.url}}" target="_blank"><p ng-bind="streamer.channel.display_name" class="text-success"></p></a>
        </div>
        <hr />
        <h4>Online ({{offlineStreamers.length ? offlineStreamers.length : 0}})</h4>
        <div ng-repeat="streamer in offlineStreamers">
            <a ng-href="{{streamer.channel.url}}" target="_blank"><p ng-bind="streamer.channel.display_name" class="text-danger"></p></a>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="js/popup.js"></script>
</body>
</html>